<section>
  <form [formGroup]="formParent">
    <h4 class="mt-5">E-mail</h4>
    <div *ngIf="transacao!=='2'">

      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" id="numero" [placeholder]="'email@email.com'" formControlName="email">
      </div>
    </div>
    <button type="button"
            [disabled]="this.formParent.get('email')?.invalid || this.formParent.get('email')?.value === null"
            class="btn btn-info mb-4 btn-wd">
      <span class="bi-plus" aria-hidden="true" (click)="novoEmail()">Novo e-mail</span>
    </button>
  </form>

  <table class="table mt-5" *ngIf="listaEmail.length > 0">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E-mail</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let email of listaEmail; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{email.email}}</td>
    </tr>
    </tbody>
  </table>
</section>
